.header{
    height: 80px;
    background-color: #ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 140px;
    padding-right: 140px;
}
.header img{
    width: 180px;
    height: 150px;
}
.header a{
    color: rgb(207, 153, 53);
    text-decoration: none;
    font-size: 17px;
    margin-left: 36px;
    
    
}
.header a:hover{
    color: rgb(58, 56, 56);
}